{{ define "main" }}
<div class="py-5 px-2 mx-auto items-center justify-between flex-wrap container rounded-xl bg-white min-h-screen">
    <div class="text-3xl font-bold text-black text-center">{{ .Title }}</div> 
    {{ if not .PublishDate.IsZero }}
        <div class="text-base text-center">{{ .PublishDate.Format "January 2, 2006" }}</div>
    {{ end }}
    <div class="text-base text-center">{{ .Description  }}</div>
    <div class="p-8"></div>
    <article class="prose whitespace-pre-wrap max-w-3xl mx-auto text-black">
        {{ .Content }}
    </article>
</div>
{{ end }}