{{ define "main" }}
<div class="flex-wrap justify-between container font-sans py-2 px-2 mx-auto items-center min-h-screen">
    <div class="text-3xl font-bold text-black text-center">{{ .Title }}</div> 
    {{ if not .PublishDate.IsZero }}
        <div class="text-xs text-center">{{ .PublishDate.Format "January 2, 2006" }}</div>
    {{ end }}
    <div class="text-sm text-center">{{ .Description  }}</div>
    <div class="p-4"></div>
    <article class="prose font-sans max-w-3xl mx-auto text-black">
        {{ .Content }}
    </article>
</div>
{{ end }}