
<div class="max-w-md w-full lg:max-w-4xl flex flex-col mb-4 mx-auto">
    <a class="hover:underline hover:underline-offset-2" href="{{ .Permalink }}">        
        <div class="font-bold text-xl mb-2 ">{{ .Title }}</div>
    </a>
    <div class="font-sans flex flex-col">
        <div class="text-xs mb-2 text-slate-500">
            {{ if not .PublishDate.IsZero }}
            <p>{{ .PublishDate.Format "2 Jan, 2006" }}</p>
            {{ end }}
        </div>
        <div class="mb-4">
            <p class="truncate text-slate-600">{{ .Summary }}</p>
        </div>
    </div>

    <div>
        <hr/>
    </div>
</div>