
{{ define "main" }}

<div class="h-screen">

<div class="flex content-center flex-wrap rounded-md shadow-md bg-white opacity-75 h-1/2">
        <div class="flex-0 md:flex-1"></div>
        {{ if .Site.Params.image404 }}
        <div class="flex-0 m-auto">
            <img class="object-right" src="{{.Site.Params.image404}}"></img>
        </div>
        {{end}}
        <div class="flex-0 text-center m-auto text-2xl italic">An empty package delights none!! (404) </div>
        <div class="flex-0 md:flex-1"></div>
</div>
{{ end }}